body {
  background-color: lightblue;
}
.judul {
  text-align: center;
  margin-top: 5%;
}
.container {
  margin: 20px;
  border-radius: 20px;
  background-color: #41436a;
  padding: 20px;
  color: #fe9677;
}
img {
  object-fit: cover;
  width: 400px;
  height: 400px;
  display: block;
  margin: auto;
}
.row {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.card {
  background-color: #f64668;
  width: 50px;
  min-height: 100px;
  color: transparent;
}
.kotak {
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 1;
}
.fade button {
  margin-right: 10px;
  margin-bottom: 10px;
}

.sembunyii button {
  margin-right: 10px;
  margin-bottom: 10px;
}
button {
  border-radius: 10px;
  background-color: #f64668;
  color: white;
  height: 20%;
  border: 0;
  font-weight: bold;
  padding: 10px;
  box-shadow: 0px 0px 5px black;
}
button:hover {
  background-color: #41436a;
  color: #fe9677;
  transform: scale(1.2);
}
